<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Retour sur produit</h2>
  <div class="img" align="center">
    <img src="assets\images\products\beige-3.jpg" alt="">
  </div>
  <div class="rating flex">
    <div>
      <i class="rating fas fa-star"></i>
    </div>
    <div>
      <i class="rating fas fa-star"></i>
    </div>
    <div>
      <i class="rating fas fa-star"></i>
    </div>
    <div>
      <i class="rating fas fa-star"></i>
    </div>
    <div>
      <i class="rating fas fa-star"></i>
    </div>
  </div>
  <div>
    <textarea placeholder="Votre commentaire ici ..." name="" id="" rows="10"></textarea>
    <i class=" fas fa-photo-video add-photo"></i>
    <label class="space float">Commentaire</label>
    <button class="btn">Soumettre</button>
  </div>
</ion-content>
