<ion-header>
  <ion-row>
    <ion-col size="2">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-col>
    <ion-col size="6">
      <h1>Adresses</h1>
    </ion-col>
    <ion-col size="2">
      <i class="far fa-envelope"></i>
    </ion-col>
    <ion-col size="2">
      <i class="far fa-bell right-space"></i>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <ion-row class="tab">
    <ion-col size="4" class="active">
      <h3>Adresse</h3>
      <i class="far fa-check-circle down"></i>
    </ion-col>
    <ion-col size="4">
      <h3>Livraison</h3>
      <i class="far fa-circle down"></i>
    </ion-col>
    <ion-col size="4">
      <h3>Paiement</h3>
      <i class="far fa-circle down"></i>
    </ion-col>
  </ion-row>

  <form>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
        <ion-row>
          <ion-col size="10">
            <ion-card-title>John X</ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-toggle></ion-toggle>
            <!-- <input type="radio" name="address" id=""> -->
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>Brazzaville,Congo</p>
        <p>14 rue addresse fictive</p>
      </ion-card-content>

      <ion-row>
        <ion-col size="2">
          <i class="fas fa-map-marked-alt"></i>
        </ion-col>
        <ion-col size="6">

        </ion-col>
        <ion-col size="2">
          <i class="far fa-edit"></i>
        </ion-col>
        <ion-col size="2">
          <i class="far fa-trash-alt"></i>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
        <ion-row>
          <ion-col size="10">
            <ion-card-title>John X</ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-toggle></ion-toggle>
            <!-- <input type="radio" name="address" id=""> -->
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>Brazzaville,Congo</p>
        <p>14 rue addresse fictive</p>
      </ion-card-content>

      <ion-row>
        <ion-col size="2">
          <i class="fas fa-map-marked-alt"></i>
        </ion-col>
        <ion-col size="6">

        </ion-col>
        <ion-col size="2">
          <i class="far fa-edit"></i>
        </ion-col>
        <ion-col size="2">
          <i class="far fa-trash-alt"></i>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>

  <ion-item>
    <ion-item slot="start">
      <i class="far fa-plus-square"></i>
    </ion-item>
    <ion-label>Ajouter une nouvelle adresse</ion-label>
  </ion-item>


  <div>
    <textarea placeholder="Votre note ici ..." name="" id="" rows="6"></textarea>
    <label class="space float">Commentaire</label>

    <ion-list-header>
      <h2>Prix</h2>
    </ion-list-header>
    <ion-list>
    <ion-item>
      <ion-label slot="end"><strong>pas encore definie</strong></ion-label>
      <ion-label>Frais de livraion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="end"><strong>FCFA2000</strong></ion-label>
      <ion-label>Sous-Total</ion-label>
    </ion-item>
  </ion-list>

  <button class="btn">Continuer</button>

</div>
  <br><br>



  <!-- <ion-range
    min="0" max="100"
    dualKnobs="true" pin="true"
    snaps="true" step="1"
    ticks="true" value="0"
    color="primary"
    >
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
  </ion-range> -->
</ion-content>
