<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <i class="fas fa-home fa-bounce"></i>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
      <i class="far fa-list-alt"></i>
      <ion-label>catalogue</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon>-->
      <i class="fas fa-shopping-cart"></i>
      <ion-label>panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="whishlist" href="/tabs/whishlist">
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon>-->
      <i class="far fa-heart fa-flip"></i>
      <ion-label>Favories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <i class="far fa-user fa-beat"></i>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
