
.product-card {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.product-card.hidden {
  opacity: 0;
  transform: scale(0.95); /* Réduit légèrement pendant la disparition */
  pointer-events: none; /* Désactive les interactions pendant la transition */
}


.swiper-container {
  padding: 10px;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  // background-color: #f0f8f0;  /* Fond très léger vert */
  border-radius: 8px;  /* Coins arrondis pour la carte */
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%; /* Assure que la carte a une hauteur appropriée */
}

.category-icon {
  font-size: 20px;  /* Taille de l'icône */
  color: #28812b;   /* Couleur de l'icône (vert) */
  background-color: #dcedc8;  /* Fond léger vert clair autour de l'icône */
  border-radius: 50%;   /* Rend l'icône ronde */
  padding: 15px;  /* Espacement autour de l'icône */
  margin-bottom: 10px;  /* Espacement entre l'icône et le nom */
}

.category-name {
  font-size: 14px;
  // font-weight: bold;
  color: #333;
}


.bg-cat{
  margin: 3px;
  padding: 10px;
}
