<ion-content [fullscreen]="true" class="ion-padding">


  <ion-item>
    <h2>Profile</h2>
    <ion-item slot="end" lines="none">
      <i class="far fa-envelope"></i>
      <i class="far fa-bell right-space"></i>
    </ion-item>
  </ion-item>

  <ion-row class="space">
    <ion-col size="4">
        <img class="avatar" src="assets/images/products/white-5.jpg" />
    </ion-col>
    <ion-col size="8">
      <h3>Amaya</h3>
      <p>amaya2005&#64;hotmail.com</p>
      <p>+242 06 559 07 14</p>
    </ion-col>
  </ion-row>

  <ion-row class="cont1">
    <ion-col size="4">
      <i class="fas fa-clipboard-list" style="color: rgba(79, 170, 74, 0.657);"></i>
      <p>Mes commandes</p>
    </ion-col>
    <ion-col size="4">
      <i class="far fa-calendar-check" style="color: rgba(177, 78, 78, 0.657);"></i>
      <p>Code promo</p>
    </ion-col>
    <ion-col size="4">
      <i class="far fa-check-circle" style="color: rgba(206, 176, 68, 0.657);"></i>
      <p>Mes abonnements</p>
    </ion-col>
  </ion-row>

  <!-- <ion-list-header>
    <ion-label>New This Week</ion-label>
    <ion-button>See All</ion-button>
  </ion-list-header> -->

  <ion-list-header>
    <h2>Parametres Généraux</h2>
  </ion-list-header>
  <ion-list lines="none">
    <ion-item>
      <i slot="start" class="fas fa-user-edit"></i>
      <ion-label>Mon compte</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="fas fa-credit-card"></i>
      <ion-label>Methode de paiement</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="fas fa-map-marker-alt"></i>
      <ion-label>Mes Adresse</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="far fa-bell"></i>
      <ion-label>Notifications</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <h2>Autres</h2>
  </ion-list-header>
  <ion-list lines="none">
    <ion-item>
      <i slot="start" class="fas fa-phone-alt"></i>
      <ion-label>Contactez-nous</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="fas fa-unlock"></i>
      <ion-label>Termes & Conditions</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="far fa-question-circle"></i>
      <ion-label>FAQs</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>

    <ion-item>
      <i slot="start" class="far fa-bell"></i>
      <ion-label>A propos de nous</ion-label>
      <i slot="end" class="fas fa-arrow-right"></i>
    </ion-item>
  </ion-list>

</ion-content>
