<ion-content [fullscreen]="true">
  <div align="center" style="margin-top: 40%;">
    <i class="far fa-check-circle" style="font-size: 200px; color: green;"></i>
    <h1 style="font-size: 40px;">
      Merci d'avoir commander chez nous !!
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nesciunt fugit quasi voluptatum voluptas sequi sapiente, asperiores similique! Ea voluptatum eveniet voluptates minus distinctio repudiandae, provident commodi vel facilis velit.
    </p>
  </div>
  <button style="position: absolute;bottom: 50px;" class="btn-outline">Revenir à l'ecran d'accueil</button>

</ion-content>
